<section class="flex flex-col gap-4">
  <h1 class="text-3xl sm:text-5xl">Contact</h1>
  <div class="flex gap-2">
    Contact me about the sample app on
    <.default_link 
      navigate={"https://www.linkedin.com/in/victorcornille/"}
      color="blue"
      size="w-20"
    >
      LinkedIn
    </.default_link>
    or
    <.default_link 
      navigate={"https://github.com/BolvicBolvicovic"}
      color="zinc"
      size="w-20"
    >
      GitHub
    </.default_link>
  </div>
</section>
