<!DOCTYPE html>
<html>
  <head>
    <.header>
      Welcome to the Help section
    </.header>
  </head>
  <body>
    <.label>
      And you thought you could find any help for your case... Laisse moi rire!
    </.label>
  </body>
</html>

