<section class="flex flex-col justify-center items-center gap-y-8">
  <h1 class="text-3xl sm:text-5xl">Welcome to the Sample App</h1>
  <p>This is the home page for the Phoenix Tutorial sample appication.</p>
  <.default_link color="slate" size="w-40 h-14" navigate={~p"/signup"}><p>Sign up now!</p></.default_link>
  <image src="https://softcover.s3.amazonaws.com/255408/phoenix_tutorial_book/images/figures/puppy.jpg"/>
</section>
